.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: white;
}

.header-with-messages {
  display: flex;
  flex-direction: column;
}

.header {
  height: 44px;
  font-weight: bold;
  color: black;
}
